@model WebSecApp.ViewModels.SecServiceOrderViewModel
<h1 style="color:red">TDL Orders List</h1>

<h3 class="col-sm-4 col-lg-4 col-md-4" style="color:red;"></h3>
<div class="table-responsive-lg">
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Company name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Product Code
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orders in @Model.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => orders.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orders.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orders.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orders.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orders.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => orders.ProdCode)
                    </td>

                    <td>

                        <div class="text-center">
                            <a class="btn btn-outline-danger" asp-controller="Order" asp-action="DeleteOrder">Delete Item</a>
                        </div>

                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

@*<div class="text-center">
        <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
    </div>*@